body {
font-family; Arial, sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
background: linear-gradient(160deg, #ff11df, #a411ff, #2d11ff)
}

.container {
background-color: white;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
width: 300px;
text-align: center;
}

button {
padding: 10px 20px;
border: none;
background color: #28a745;
color: black;
border-radius: 4px;
cursor: pointer;
}

button:hover {
background-color: #efa0e1;
}

ul {
list-style-type: none;
padding: 0;
}

li {
background-color: #eee;
padding: 10px;
margin-bottom: 5px;
border-radius: 4px
display: flex;
justify-content: space-between;
align-items: center;
}

li.completed{
text-decoration: line-through;
background-color: #d4edda;
color: #155724
}

li button:hover {
background-color: #c82333;
}